.app-contianer {
  background-color: #223a5f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Game Result */

.game-view-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-options-list {
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 480px;
  flex-wrap: wrap;
}
.game-result-view-container {
  margin: 10px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selected-options-container {
  display: flex;
  gap: 45px;
  min-width: 350px;
}
@media screen and (min-width: 768px) {
  .selected-options-container {
    display: flex;
    gap: 150px;
    min-width: 65%;
  }
}
.game-user-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-participant-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto';
}
.game-participant-choice-img {
  width: 170px;
  height: 170px;
}
.result-text {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Roboto';
  text-align: center;
  margin-bottom: 8px;
}
.play-again-button {
  font-size: 16px;
  font-weight: 600;
  font-family: Bree Seriff;
  color: #223a5f;
  padding: 16px 42px 16px 42px;
  margin: 0px;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  align-self: center;
}

/*popup view */

.popup-container {
  align-self: flex-end;
  padding-bottom: 40px;
  padding-right: 5px;
}
.trigger-button {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #223a5f;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.popup-view {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.popup-image {
  width: 80%;
  align-self: center;
  padding: 20px;
  padding-right: 0px;
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .popup-image {
    padding: 50px 0px 50px 50px;
    margin: 0px;
  }
}
.close-button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: darkgray;
  border-radius: 5px;
  margin: 4px;
}
.close-btn-icon {
  font-size: 15px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .close-btn-icon {
    font-size: 25px;
  }
}
